
.logo {
    margin-top: 30px;  
    margin-bottom: 30px;   
}

.panel-default > .poll-topic {
    background-color: #303030;
}

.input-group-background {
    background-color: #5E5E5E;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;	
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 19px;
}

h3 {
	font-size: 20px;
}

.panel.poll-panel {
	margin-bottom: 3px;
}

.item-sort {
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.list-group-item {
	background-color: #375a7f;
	color: white;
    margin: 3px 0;
}

.dnd-sortable-drag {
  opacity:0.7;
  user-drag: none;
}

.majority-poll-options {
    display: inline-block;
    text-align: left;	
}

.brand-image {
	height: 22px;
}

.user-image {
	height: 40px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.top-buffer-large {
	margin-top: 20px;
}

.top-buffer {
	margin-top: 10px;
}

.top-buffer-small {
	margin-top: 5px;
}

.left-buffer-small {
	margin-left: 5px;
}

.small-buffer {
	margin-bottom: 10px;
}
