<div *ngIf="!loading && !invalid">
	<h1 class="text-center">{{poll.topic}}</h1>

	<div *ngIf="poll.type===1">
		<p class="text-center">drag and drop the options below (best at top)</p>
		<div class="row">
		    <div class="col-md-10 col-md-offset-1">    
			    <ul class="list-group sort-list" sortable [(pollOptions)]="poll.options">
			        <li *ngFor="let option of poll.options; let i = index;" class="list-group-item item-sort">
			        	<i class="fa fa-ellipsis-v sortable-icon"></i> 
						<span class="badge">{{i+1}}</span>
			        	{{option.name}}
			        </li>
			    </ul>	    
		    </div>
		</div>
	</div>

	<div *ngIf="poll.type===2" class="text-center small-buffer">
	    <p>select one option below</p>
	    <div class="majority-poll-options">
	        <div class="radio" *ngFor="let option of poll.options; let i = index;">
	          <label>
	            <input type="radio" name="optionsRadios" [value]="option.id" [(ngModel)]="winner"> {{option.name}}
	          </label>
	        </div>
	    </div>
	</div>

	<div class=text-center *ngIf="!voted">
		<button type="button" class="btn btn-default" (click)="prepareSaveVote()">save vote</button>
	</div>

	<div class=text-center *ngIf="voted">
		<p>You've already cast your vote. Do you want to <a routerLink="/results/{{poll.$key}}">view the results</a>?
	</div>
</div>

<div class="spinner" *ngIf="loading">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<div class="text-center" *ngIf="invalid">
	Uh oh! This poll doesn't exist. Want to <a routerLink="/">create one</a>?
</div>