<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img class="brand-image" src="assets/logo.png" alt="logo"/></a>
    </div>
    <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li *ngIf="router.url !== '/'"><a routerLink="/">Home</a></li>
        <li *ngIf="router.url !== '/about'"><a routerLink="/about">About</a></li>
        <li *ngIf="router.url !== '/privacy'"><a routerLink="/privacy">Privacy</a></li>
      </ul>
      <ul *ngIf="authService.user && !authService.user.isAnonymous" class="nav navbar-nav navbar-right">
        <li ngbDropdown ngbDropdownToggle>
          <a>
            <img *ngIf="authService.userInfo.photoURL" class="user-image img-circle clickable" [src]="authService.userInfo.photoURL">
            <i *ngIf="!authService.userInfo.photoURL" class="fa fa-user fa-2x"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="clickable">
              <a routerLink="/manage"><i class="fa fa-server fa-fw"></i> Polls</a>
            </li>
            <li class="clickable">
              <a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
            </li>
          </ul>
      </ul>
      <button *ngIf="!authService.user || authService.user.isAnonymous" type="button" class="btn btn-default btn-sm navbar-btn navbar-right" (click)="login()">Sign in</button>
    </div>
  </div>
</nav>
