<div *ngIf="!loading">
	<h1 class="text-center">{{poll.topic}}</h1>

	<div *ngIf="poll.type===1">
		<p class="text-center">drag and drop the options below (best at top)</p>
		<div class="row">
		    <div class="col-md-10 col-md-offset-1">    
			    <ul class="list-group" sortable [(pollOptions)]="poll.options">
			        <li *ngFor="let option of poll.options; let i = index;" class="list-group-item item-sort">{{option.name}}</li>
			    </ul>	    
		    </div>
		</div>
	</div>

	<div *ngIf="poll.type===2" class="text-center small-buffer">
	    <p>select one option below</p>
	    <div class="majority-poll-options">
	        <div class="radio" *ngFor="let option of poll.options; let i = index;">
	          <label>
	            <input type="radio" name="optionsRadios" [value]="option.id" [(ngModel)]="winner"> {{option.name}}
	          </label>
	        </div>
	    </div>
	</div>

	<div class=text-center *ngIf="!voted">
		<button *ngIf="!saving" type="button" class="btn btn-default" (click)="prepareSaveVote()">save vote</button>
		<button *ngIf="saving" type="button" class="btn btn-default" disabled><i class="fa fa-circle-o-notch fa-spin"></i></button>	
	</div>

	<div class=text-center *ngIf="voted">
		<p>You've already cast your vote. Do you want to <a routerLink="/results/{{poll.$key}}">view results</a>?
	</div>
</div>